@use '../../styles/variables';

.menu {
    position:sticky;
    bottom:0;
    z-index:100;}

.menu-wrapper {
    background-color:variables.$primary-color;
    padding:15px;
}
.menu-wrapper ul {
    padding:0;
    margin:0;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

