@use '../../styles/variables';

.bg-shape1 {
    background-image:url('../../images/bg.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-color:#fff;
}
.waves{display:none;}
.header-wrapper{background: transparent;}
.white-button {background-color:variables.$yellow}

@media screen and (min-width:750px) {
    .bg-shape1 {
        background-size:cover;
    }
    .title {color:variables.$white}

}