@use './variables';
@use './spacing';

@mixin centered {
    align-self: center}
/*Buttons*/
button, .topic {
    border:none;
    border-radius:5px;
    color:white;
    padding:10px;
    margin-top:10px;
    &:hover {
      cursor:pointer;
    }
  }
  .topic {margin:10px;}
  .primary-button {
    background-color:variables.$primary-color;
    &.ghost {
      border: 2px solid variables.$primary-color;
      color:variables.$primary-color;
      background-color:transparent;
    }
    &:hover {background-color:variables.$primary-color-hover;}
  }
  .secondary-button {
    background-color:variables.$secondary-color;
    display: flex;
    justify-content: center;
    margin:10px;
    &.ghost {
      border: 2px solid variables.$secondary-color;
      color:variables.$secondary-color;
      background-color:transparent;
    }
    &:hover {background-color:variables.$secondary-color-hover;}
  }
  .third-button { 
    background-color:variables.$yellow; 
    color:variables.$dark-yellow;
    &.ghost {
      border: 2px solid variables.$yellow;
      background-color:transparent;
      color:variables.$yellow;
    }
    &:hover {background-color:variables.$yellow-hover;}
  }
  .white-button {background-color:variables.$white; 
    color:variables.$black;
  }
  .centered-button {@include centered}
  .button-wrapper {
    display:flex;
    position: relative;
    top: -50px;
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: lightyellow;
    position: sticky;
    bottom: 63px;
    padding: 10px;
  }
  
  
  @media (hover: none) {
    *:hover { background-color: inherit; }
  }