@use "./variables";

/*Fonts and titles*/
* {
  font-family: variables.$signika;
}
h1,
h2,
h3 {
  margin: 0;
  color: variables.$black;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
}
p,
button,
li {
  font-size: 1em;
}
span {
  font-size: 13pt;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  &:active {
    color: variables.$primary-color;
  }
}
.title {
  padding-top: 40px;
  color: variables.$primary-color;
  opacity: 0.3;
  &.centered {
    text-align: center;
  }
}
.title.white {
  font-size: 2em;
  color: white;
  opacity: 1;
  text-align: left;
}
.floating-info {
  position: relative;
  top: 30px;
  left: -20px;
}
.floating-info h2,
.floating-info h1,
.floating-info h3 {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intro {
  color: variables.$yellow;
  font-size: 1.5em;
}
.box-description {
  width: 350px;
  height: 50px;
  background-color: white;
  -webkit-box-shadow: variables.$shadow;
  box-shadow: variables.$shadow;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: -30px;
  left: -20px;
}

.bubble {
  display: flex;
  align-items: center;
  border-radius: 100%;
  box-shadow: 3px 2px 5px 0px #cdcdcd;
  width: 60px;
  height: 60px;
  background-color: white;
  text-align: center;
  position: relative;
  top: 80px;
  left: 90%;
}
@media screen and (max-width:450px) {
  .floating-info{left:0px};
}
