@use '../../styles/variables';

img.logo {width: 40px}
.header-wrap{
    position:relative;
    padding:12px;
    background: variables.$green-gr;
    height:50px;
    display:flex;
}
.waves {
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: #00B7AF;
}

.waves svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 100px;}