@use './styles/variables';

/*Mixins*/
@mixin wrap-center {
	display:flex;
  flex-direction:column;
	justify-content: center;
  align-items: center;
}

@mixin centered {
  align-self: center}

/*Generals and position*/
body {
  background:variables.$white;
}
.wrapper {
  height:100vh;
  @include wrap-center;  
}
label {display:none;};
.divider {
  display:flex;
  flex:0.2;
}
.spacer {flex:1}
.bg-white {
  padding:10px;
  background-color: variables.$white;
}

/*Fonts and titles*/
*{font-family: variables.$signika}
h1, h2, h3 {
  margin:0;
  color: variables.$black;
}
h1{font-size: 3em}
h2{font-size: 2em}
h3{font-size: 1.5em}
p, button{font-size: 1.3em}
span{font-size: 13pt}
li{list-style: none;}

h1.title {
  padding-top:40px;
  color:variables.$primary-color; 
  opacity:0.3;
}

.floating-info {
  position: relative;
  top: 30px;
  left: -20px;
}

.box-description{
  background-color: white;
  -webkit-box-shadow: 3px 5px 15px 0px #CDCDCD;
  box-shadow: 3px 5px 15px 0px #CDCDCD;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: -30px;
  left: -20px;
}
.bubble {
  border-radius: 100%;
  box-shadow: 3px 2px 5px 0px #CDCDCD;
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
  top: 80px;
  left: 90%;
  background-color: white;
  text-align: center;
}
/*Buttons*/
button {
  border:none;
  border-radius:5px;
  color:white;
  padding:10px;
  &:hover {
    cursor:pointer;
  }
}
.primary-button {
  background-color:variables.$primary-color;
}
.secondary-button {
  background-color:variables.$secondary-color;
}

.third-button { 
  background-color:variables.$yellow; 
  color:variables.$dark-yellow
}
.centered-button {@include centered}

/*Images*/
.book-preview {
  width:300px; 
  height:300px;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius:10px;
}
